/*
	Design By 	: Muhammad Abdurrohman Alhafidz;
	Developer	: IDMETAFORA;	
*/

body{
	background-color: #F2F3F9;
}

header{
	min-height: 60px;
	max-height: auto;
	width: 100%;
	background-color: #4D5A69;
	color: #fff;
	margin:0px;
}
#logo{
	border-right: solid 1px #ccc;
	height: 60px;
	margin: 0px;
	padding:0px;
	background-color: #15B8D6;
}


header h1{
	padding: 17px;
	font-size: 24px;
}

header h2{
	padding:17px 17px 0px 10px;
	line-height: 24px;
	font-size: 20px;

}


#navigation{
	background-color: #4D5A69;
	color: #fff;	
	margin:3px 0px 3px 0px;
}
#navigation h3{
	font-size: 22px;
	padding: 17px 67px 17px 17px;
	border-bottom: solid 1px #ccc;	
	display: inline-block;
	margin-bottom: 10px;

}
#navigation a{
	color: #fff;
	text-decoration: none;
}
#navigation ul{
	padding:0px;
	margin: 0px;
}
#navigation ul li{
	list-style-type: none;
	list-style-position: inside;
	border-bottom: solid 1px #ccc;
	padding-left: 17px;
	padding-top: 8px;
	padding-bottom: 7px;
}
#navigation ul li:hover{
	background-color: #333;
	text-decoration: underline;
}
#navigation ul li a{
	display: block;
}

#content{
	margin:0px;
	clear: both;
	background-color: #F2F3F9;
}

#content h3{
	font-size: 20px;
	margin:5px;

	
}
#content p{
	padding-top: 30px;
}
.title-content{
	margin-top: 15px;
	padding:10px 0px 0px 0px;
	border-bottom: solid 1px #ccc;
	display: inline-block;
}

footer{
	clear: both;
	height: 40px;
	color: #ccc;
	/*background-color: #4D5A69;*/
	background-color: #4D5A69;
	text-align: center;
	padding: 10px;
	font-size: 12px;
}

footer a{
	color: #ccc;
	text-decoration: none;
}
footer a:hover{
	color:#fff;
	text-decoration: underline;
}

#form-project input{
	min-width: 50%;
	max-width: 100%;

}